.posts {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Adds space between cards */
    padding: 10px;
}

.post {
    background-color: bisque;
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    overflow: hidden;
    text-decoration: none;
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}


.post img {
    width: 150px; 
    height: 150px;
    object-fit: cover; 
}

.content {
    padding: 20px;
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.timestamp{
    font-size: 10px;
    color: gray;
    margin: 10px 0;
}